<!DOCTYPE html>
<html>
  <head>
    <title>CancancanDemo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
    Welcome <%= current_user.email %>
    <%= link_to "Log_out", destroy_user_session_path, method: :delete %>
    <%  else %>
    <%= link_to "sign_in",new_user_session_path %>
    <% end -%>
    
    <%= yield %>
   <!--  <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->

  </body>
</html>
